.header__lang-link {
    text-align: right;
    color: #FFFFFF;
    font-family: 'Inter';
    list-style-type: none;
}

.header__lang-link:first-of-type {
    text-decoration-line: underline;
}

.header__lang-link:last-of-type {
    text-decoration-line: none;
    margin-left: 18px;
}
