@import url(./__item/photo-grid__item.css);

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 1184px;
    grid-gap: 16px;
    margin: 92px auto;
    justify-items: center;
}

@media screen and (max-width: 425px) {
    .photo-grid {
        min-height: 2724px;
    }
}

@media screen and (max-width: 896px) {
    .photo-grid {
        min-height: 1664px;
    }
}

@media screen and (max-width: 1152px) {
    .photo-grid {
        min-height: 942px;
    }
}