.intro__subtitle {
    max-width: 720px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
    padding: 0;
    margin-left: 100px;
}

@media screen and (max-width: 1152px) {
    .intro__subtitle {
        margin-left: 48px;
    }
}

@media screen and (max-width: 896px) {
    .intro__subtitle {
        max-width: 720px;
        margin: 40px auto 0px auto; 
    }
}

@media screen and (max-width: 544px) {
    .intro__subtitle {
        max-width: 288px;
    }
}