@import url(./__list/places__list.css);

.places {
    margin: 0 148px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 544px) {
    .places {
        margin: auto;
    }
}

@media screen and (max-width: 1152px) {
    .places {
        margin: 0 48px 12px;
    }
}

@media screen and (max-width: 896px) {
    .places {
        margin: 88px 24px 0px;
    }
}