.intro__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    max-width: 690px;
    height: 72px;
    color: #ffffff;
    padding: 0;
}

@media screen and (max-width: 1152px) {
    .intro__list {
        margin-left: 48px;
    }
}

@media screen and (max-width: 896px) {
    .intro__list {
        max-width: 720px;
        margin: auto;
    }
}

@media screen and (max-width: 544px) {
    .intro__list {
        max-width: 288px;
        margin: auto;
    }
}