.photo-grid__item {
    max-width: 284px;
}

@media screen and (max-width: 1140px) {
    .photo-grid__item {
        max-width: 300px;
    }
}

@media screen and (max-width: 950px) {
    .photo-grid__item {
        max-width: 352px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid__item {
        max-width: 288px;
    }
}