.footer__link {
    margin-right: 26px;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Inter';
    text-decoration: none;
    color: #fff;
}

.footer__link:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 544px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}

@media screen and (max-width: 544px) {
    .footer__link:first-of-type {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 544px) {
    .footer__link:last-of-type {
        margin-top: 32px;
    }
}