.place__paragraph {
    color: #ffffff;
    max-width: 484px;
    display: block;
    margin-top: 0px;
    font-family: 'Inter';
    font-size: 18px;
}

@media screen and (max-width: 544px) {
    .place__paragraph {
        margin-left: 16px;
        margin-right: 16px;
    }
}