.footer__copyright {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;    
}

@media screen and (max-width: 544px) {
    .footer__copyright {
        line-height: 14px;
    }
}