.lead__subtitle {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    max-width: 620px;
    min-height: 72px;
    text-align: center;
    color: #ffffff;
    margin: 32px auto 0px;
}

@media screen and (max-width: 544px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
        min-height: 40px;
    }
}