@import url(./__link/cover__link.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
    max-width: 1184px;
    align-items: center;
    background-image: url('../../../sprint-3-images-en/cover-route-66.jpg');
}