.place__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    transition-duration: 0.5s;
    color:#ffffff;
    margin-top: 12px;
    display: flex;
}

.place__link:hover {
    opacity: 0.8;
    text-decoration: none;
}