@import url(../place/__title/place__title.css);
@import url(../place/__image/place__image.css);
@import url(../place/__website/place__website.css);
@import url(../place/__link/place__link.css);
@import url(../place/__paragraph/place__paragraph.css);
@import url(../place/__url-heading/place__url-heading.css);

.place {
    max-width: 984px;
    min-height: 584px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2em;
}

@media screen and (max-width: 544px) {
    .place {
        display: flex;
        flex-direction: column;
    }
}
