@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 100%;
    margin: 0 auto 24px auto;
}

@media screen and (max-width: 425px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        max-width: 168px;
        min-height: 198px;
    }
}