@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 92px 0px 24px 0px;
}

@media screen and (max-width: 1152px) {
    .footer {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 896px) {
    .footer {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 544px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 288px;
    }
}