.place__url-heading {
    color: #aaaaaa;
    margin: 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20.4px;
    letter-spacing: .20rem;
}