.intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    max-width: 690px;
    color: #ffffff;
}


@media screen and (max-width: 896px) {
    .intro__text {
        align-items: center;
    }
}